@import "cssreset.css";
@import "normalize.css";

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    transition: background-image 1s ease-in-out;
    color: white;
}

.container {
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 100px 20px 20px;
}

.time {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px black;
}

.time__container {
    display: flex;
    border-bottom: 2px solid white;
}

#date {
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}

.weather {
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px black;
}

.weather__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.weather__container > div,
.weather__container > i {
    margin: 0 8px;
    display: flex;
    align-items: center;
}

.weather__temperature {
    font-size: 1.9rem;
}

.weather__icon {
    font-size: 4rem;
}

.weather__city-input,
.greetings__name,
.focus__text {
    display: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 8px;
    caret-color: white;
    color: white;
}

.weather__city-input::placeholder,
.greetings__name::placeholder,
.focus__text::placeholder {
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: 0.03em;
    color: white;
    opacity: .8;
}

.weather__button, .quote__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    outline: none;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.weather__button:hover, .next-image__button:hover, .quote__button:hover {
    transform: scale(1.2) rotate(1turn);
    background-color: rgba(0, 0, 0, 0.6);
}

.greetings {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px black;
}

.greetings__day {
    margin-right: 10px;
}

.greetings__name {
    width: 220px;
}

.greetings__display-name, .focus__display-text {
    display: none;
}

.focus {
    font-size: 1.6rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px black;
}

.focus__title {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.focus__text {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
}

.focus__text::placeholder {
    text-align: center;
}

.focus__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
}

.next-image__button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    outline: none;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.next-image__button i {
    font-size: 2rem;
}

.next-image__button:active, .quote__button:active {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.8);
}

.quote__button:disabled, .next-image__button:disabled {
    color: gray;
}

.quotes__container {
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.quotes__text {
    margin-bottom: 15px;
    font-weight: lighter;
    line-height: 130%;
}

.quotes__author {
    font-weight: bold;
}

@media (max-width: 499px) {
    :root {
        font-size: 13px;
    }

    .time {
        font-size: 6rem;
    }

    .next-image__button {
        left: 50%;
        transform: translate(-50%);
        width: 40px;
        height: 40px;
    }

    .container {
        padding: 70px 20px 20px;
    }

    .quotes {
        font-size: 1.1rem;
    }
}

@media (max-width: 426px) {
    :root {
        font-size: 11px;
    }
}



